.toolbar {
  background: #ac71ae;
  color: white;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  div {
    font-weight: bold;
  }
  nav {
    ul {
      margin: 0;
      display: flex;
      list-style: none;
      li {
        margin-left: 10px;
        a {
          color: rgb(204, 204, 204);
          text-decoration: none;
          &:hover {
            color: white;
          }
          &[class="active"] {
            color: white;
          }
        }
      }
    }
  }
}
