.filter {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  button {
    flex-grow: 1;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(190, 190, 190);
    border: 0px;
    text-align: center;
    cursor: pointer;
    color: rgb(44, 44, 44);
    font-size: 16px;
    &:hover {
      box-shadow: 0 0 20px 0 rgb(163, 163, 163);
    }
    &.expenses {
      background-color: rgb(255, 121, 121);
    }
    &.incomes {
      background-color: rgb(121, 212, 255);
    }
  }
}
.clearFilter {
  text-align: center;
  cursor: pointer;
  &:hover {
    color: rgb(130, 108, 255);
  }
}