.card {
  margin: 0 auto;
  max-width: 500px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 0 40px 0 rgb(190, 190, 190);
  .title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 16px;
  }
}
