.operationForm {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  div {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
    button {
      flex-grow: 1;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 10px;
      &.save {
        background-color: #b3e873;
      }
    }
  }
}
